.informations{
	font-size: 20px;
	font-weight: bold;

}

article{
	
	margin: 50px;
	text-align: center;
}
header{

	font-size: 30px;
	font-weight: bold;
	text-decoration: blink;
	text-align: center;

}
.button{
	
}